*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
}
body{
    background-color: aquamarine;
    height: 5000px;
}
h1{
    text-align: center;
    font-size: 3rem;
}
.all_contury_data_main{
    margin-top: 10px;
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.total_case_main{
    margin-top: 10px;
    width: 330px;
    height: 120px;
    background-color: cadetblue;
    border-radius: 10px;
    padding: 10px;
}
.total_case_and_icon_main{
    width: 100%;
    height: 30px;
    /* border: 1px solid bisque;     */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total_case_text{
    width: 250px;
    height: 25px;
    /* border: 1px solid black; */
    color: white;
    font-size: 14px;
    display: flex;
    
    align-items: center;
}
.total_case_icon{
    width: 25px;
    height: 25px;
    /* border: 1px solid black; */
}

.total_case_icon >img{
    width: 100%;
    height: 100%;
}

.total_case_count{
    width: 100%;
    height: 48px;
    /* border: 1px solid black; */
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.last_update_date{
width: 100%;
height: 22px;
/* border: 1px solid black; */
font-size: 14px;
color: white;

}

.total_death_main{
    margin-top: 10px;  
    padding: 10px; 
    width: 330px;
    height: 120px;
    background-color: rgb(210, 35, 35);
    border-radius: 10px;
}
.total_recovery_main{
    margin-top: 10px;
    padding: 10px;
    width: 330px;
    height: 120px;
    background-color: rgb(18, 162, 18);
    border-radius: 10px;
}

.search_bar_main{
    margin-top: 10px;
    width: 100%;
    height: 60px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
}
.search_bar{
    width: 350px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}
.search_bar >input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 8px;
    background-color: bisque;
 
}
::placeholder{
    color: black;
}
.container{
    width: 100%;
    height: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.city_data_main{
    width: 350px;
    height: 200px;
    border: 1px solid red;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffe53b33;
background-image: linear-gradient(150deg, #ffe53b91 0%, #ff2525cf 74%);

}

.data_main_with_fleg{
    width: 100%;
    height: 165px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.data_main{
    width: 60%;
    height: 100%;
    border: 1px solid black;
}














.fleg_img_main{
    width: 38%;
    height: 100%;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fleg_img{
    width: 110px;
    height: 110px;
    border: 1px solid black;
}
.fleg_img >img{
    width: 100%;
    height: 100%;
}